*{
 font-family: sans-serif;
 color: white;  
 padding: 0px;
 margin: 0px; 
}
body{
    overflow-x: hidden;   
}
#Home {
    background-image: url(img/background\ \(1\).png);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#Home h1{
    color: white;
    position: absolute;
    font-size: 50px;
    z-index: 2;
    margin-top: 10px; 
}
#Home img{
    position: absolute;
    bottom: 0px;
}
#Mountain1{
    position: absolute;
    margin-bottom: 106px;
    margin-left: 60px;
    width: 100%;
    pointer-events: none;
}